{
    "extends": ["standard", "prettier"],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "quotes": ["error", "double", { "avoidEscape": true }]
    }
}